### Intro - Purpose/Contents

This notebook just reads + prints info about the data frames in the repository. A random sample of 10 rows is also printed for each file.

### Load Data / Import Modules

In [34]:
import numpy as np;
import pandas as pd;

In [31]:
#
# DATA FILES IN `NFLBigDataBowl2024` REPO
#

# games.csv
# nfl1.ipynb
# players.csv
# plays.csv
# tackles.csv
# tracking_week_1.csv
# tracking_week_2.csv
# tracking_week_3.csv
# tracking_week_4.csv
# tracking_week_5.csv
# tracking_week_6.csv
# tracking_week_7.csv
# tracking_week_8.csv
# tracking_week_9.csv

games = pd.read_csv('games.csv');
plays = pd.read_csv('plays.csv');
players = pd.read_csv('players.csv');
tackles = pd.read_csv('tackles.csv');

# Frame-by-Frame Tracking Data
week1 = pd.read_csv('tracking_week_1.csv');
week9 = pd.read_csv('tracking_week_9.csv');

### Games

In [14]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gameId             136 non-null    int64
 1   season             136 non-null    int64
 2   week               136 non-null    int64
 3   gameDate           136 non-null    object
 4   gameTimeEastern    136 non-null    object
 5   homeTeamAbbr       136 non-null    object
 6   visitorTeamAbbr    136 non-null    object
 7   homeFinalScore     136 non-null    int64
 8   visitorFinalScore  136 non-null    int64
dtypes: int64(5), object(4)
memory usage: 9.7+ KB

In [26]:
games.sample(10)

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
91,2022101610,2022,6,10/16/2022,16:25:00,KC,BUF,20,24
100,2022102305,2022,7,10/23/2022,13:00:00,TEN,IND,19,10
32,2022092200,2022,3,09/22/2022,20:15:00,CLE,PIT,29,17
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
55,2022100207,2022,4,10/02/2022,13:00:00,IND,TEN,17,24
21,2022091804,2022,2,09/18/2022,13:00:00,NO,TB,10,20
77,2022100912,2022,5,10/09/2022,16:25:00,LA,DAL,10,22
7,2022091106,2022,1,09/11/2022,13:00:00,MIA,NE,20,7
12,2022091112,2022,1,09/11/2022,16:25:00,MIN,GB,23,7
73,2022100908,2022,5,10/09/2022,13:00:00,TB,ATL,21,15

### Plays

In [16]:
plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12486 entries, 0 to 12485
Data columns (total 35 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gameId                            12486 non-null  int64
 1   playId                            12486 non-null  int64
 2   ballCarrierId                     12486 non-null  int64
 3   ballCarrierDisplayName            12486 non-null  object
 4   playDescription                   12486 non-null  object
 5   quarter                           12486 non-null  int64
 6   down                              12486 non-null  int64
 7   yardsToGo                         12486 non-null  int64
 8   possessionTeam                    12486 non-null  object
 9   defensiveTeam                     12486 non-null  object
 10  yardlineSide                      12319 non-null  object
 11  yardlineNumber                    12486 non-null  int64
 12  gameClock                         12486 non-null  object
 13  preSnapHomeScore                  12486 non-null  int64
 14  preSnapVisitorScore               12486 non-null  int64
 15  passResult                        6105 non-null   object
 16  passLength                        5634 non-null   float64
 17  penaltyYards                      615 non-null    float64
 18  prePenaltyPlayResult              12486 non-null  int64
 19  playResult                        12486 non-null  int64
 20  playNullifiedByPenalty            12486 non-null  object
 21  absoluteYardlineNumber            12486 non-null  int64
 22  offenseFormation                  12482 non-null  object
 23  defendersInTheBox                 12481 non-null  float64
 24  passProbability                   12149 non-null  float64
 25  preSnapHomeTeamWinProbability     12486 non-null  float64
 26  preSnapVisitorTeamWinProbability  12486 non-null  float64
 27  homeTeamWinProbabilityAdded       12486 non-null  float64
 28  visitorTeamWinProbilityAdded      12486 non-null  float64
 29  expectedPoints                    12486 non-null  float64
 30  expectedPointsAdded               12485 non-null  float64
 31  foulName1                         592 non-null    object
 32  foulName2                         25 non-null     object
 33  foulNFLId1                        592 non-null    float64
 34  foulNFLId2                        25 non-null     float64
dtypes: float64(12), int64(12), object(11)
memory usage: 3.3+ MB

In [27]:
plays.sample(10)

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
7650,2022101602,3444,54501,Breece Hall,(9:12) Br.Hall left end to NYJ 38 for 1 yard (...,4,1,10,NYJ,GB,...,0.022156,0.977844,-0.000066,0.000066,1.928474,-0.556197,NaN,NaN,NaN,NaN
8859,2022100901,2840,53484,Pat Freiermuth,(3:35) (Shotgun) K.Pickett pass short right to...,3,2,16,PIT,BUF,...,0.998135,0.001865,0.000067,-0.000067,1.185733,0.159631,NaN,NaN,NaN,NaN
4973,2022100210,285,53536,Michael Carter,(9:57) Mi.Carter left guard to NYJ 12 for 3 ya...,1,1,10,NYJ,PIT,...,0.574904,0.425096,-0.000017,0.000017,0.250315,-0.388166,NaN,NaN,NaN,NaN
47,2022100300,1178,34452,Matthew Stafford,(10:53) M.Stafford up the middle to LA 44 for ...,2,2,3,LA,SF,...,0.630950,0.369050,0.002237,-0.002237,2.498099,0.014048,NaN,NaN,NaN,NaN
11234,2022102000,3651,54476,Chris Olave,(5:25) (Shotgun) A.Dalton pass short right to ...,4,1,10,NO,ARI,...,0.993477,0.006523,-0.001515,0.001515,3.060955,1.016052,NaN,NaN,NaN,NaN
3320,2022110610,591,43334,Derrick Henry,(5:26) D.Henry left guard to KC 39 for no gain...,1,1,15,TEN,KC,...,0.825678,0.174322,0.011290,-0.011290,3.328168,-0.749871,NaN,NaN,NaN,NaN
524,2022102300,244,43380,Jacoby Brissett,(10:00) J.Brissett up the middle to BLT 8 for ...,1,4,1,CLE,BAL,...,0.467326,0.532674,-0.029708,0.029708,4.282091,1.295318,NaN,NaN,NaN,NaN
10964,2022101605,689,43344,Tyler Boyd,(5:32) (Shotgun) J.Burrow pass short right to ...,1,1,10,CIN,NO,...,0.592002,0.407998,-0.031349,0.031349,2.112948,0.761653,NaN,NaN,NaN,NaN
7847,2022101602,888,46705,Allen Lazard,"(1:42) (No Huddle, Shotgun) A.Rodgers pass dee...",1,3,7,GB,NYJ,...,0.609229,0.390771,0.103358,-0.103358,0.086622,3.779507,NaN,NaN,NaN,NaN
2376,2022092506,305,44860,Joe Mixon,(10:31) (Shotgun) J.Burrow pass short left to ...,1,1,14,CIN,NYJ,...,0.204958,0.795042,0.005897,-0.005897,4.927850,-0.566084,NaN,NaN,NaN,NaN

### Players

In [18]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1683 entries, 0 to 1682
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nflId        1683 non-null   int64
 1   height       1683 non-null   object
 2   weight       1683 non-null   int64
 3   birthDate    1204 non-null   object
 4   collegeName  1683 non-null   object
 5   position     1683 non-null   object
 6   displayName  1683 non-null   object
dtypes: int64(2), object(5)
memory usage: 92.2+ KB

In [28]:
players.sample(10)

,nflId,height,weight,birthDate,collegeName,position,displayName
667,46223,6-0,205,1994-08-04,Jacksonville State,CB,Siran Neal
1212,53063,6-3,270,1997-10-28,Texas State,G,Aaron Brewer
1638,54810,5-8,170,NaN,Utah,WR,Britain Covey
113,40171,6-4,309,1990-02-21,Samford,DT,Nicholas Williams
584,46094,6-4,245,1993-08-24,South Carolina,TE,Hayden Hurst
1141,52615,6-4,209,1998-10-21,Oregon State,WR,Isaiah Hodgins
213,42381,6-5,265,1992-11-17,Mississippi State,OLB,Preston Smith
374,43496,6-4,235,1993-04-23,Louisiana Tech,QB,Jeff Driskel
262,42559,6-2,305,1993-10-16,Rice,NT,Christian Covington
1053,52476,6-1,200,1996-10-10,California,SS,Ashtyn Davis

### Tackles

In [19]:
tackles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17426 entries, 0 to 17425
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gameId            17426 non-null  int64
 1   playId            17426 non-null  int64
 2   nflId             17426 non-null  int64
 3   tackle            17426 non-null  int64
 4   assist            17426 non-null  int64
 5   forcedFumble      17426 non-null  int64
 6   pff_missedTackle  17426 non-null  int64
dtypes: int64(7)
memory usage: 953.1 KB

In [29]:
tackles.sample(10)

,gameId,playId,nflId,tackle,assist,forcedFumble,pff_missedTackle
14870,2022102309,4288,43332,0,1,0,0
9146,2022101601,1898,43435,1,0,0,0
6191,2022102306,58,52624,1,0,0,0
16428,2022103012,3046,52462,0,0,0,1
14902,2022103001,1150,53577,0,1,0,0
830,2022091805,510,52472,1,0,0,0
15043,2022110700,588,44851,0,1,0,1
1868,2022092508,2873,43378,1,0,0,0
3242,2022100208,3771,41595,1,0,0,0
16079,2022101603,325,43358,0,0,0,1

### Player Tracking - Week 1

Kinematic variable descriptions
<ul>
    <li>$x = $ field length (endzone -> endzone)</li>
    <li>$y = $ field width (sideline -> sideline)</li>
    <li>$s = $ velocity (yards/second)</li>
    <li>$a = $ acceleration (yards^2 / second)</li>
    <li>$\text{dis } = $ distance traveled since previous point</li>
    <li>$o = $ orientation</li>
    <l
</ul>

In [22]:
week1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407439 entries, 0 to 1407438
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1407439 non-null  int64
 1   playId         1407439 non-null  int64
 2   nflId          1346246 non-null  float64
 3   displayName    1407439 non-null  object
 4   frameId        1407439 non-null  int64
 5   time           1407439 non-null  object
 6   jerseyNumber   1346246 non-null  float64
 7   club           1407439 non-null  object
 8   playDirection  1407439 non-null  object
 9   x              1407439 non-null  float64
 10  y              1407439 non-null  float64
 11  s              1407439 non-null  float64
 12  a              1407439 non-null  float64
 13  dis            1407439 non-null  float64
 14  o              1346397 non-null  float64
 15  dir            1346397 non-null  float64
 16  event          130268 non-null   object
dtypes: float64(9), int64(3), object(5)
memory usage: 182.5+ MB

In [25]:
week1.sample(10)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
942347,2022091109,978,46249.0,Folorunso Fatukasi,9,2022-09-11 13:46:20.700000,94.0,JAX,left,39.620000,19.150000,3.28,0.72,0.35,176.52,208.40,NaN
1211693,2022091112,2640,42431.0,Danielle Hunter,14,2022-09-11 18:41:26.700000,99.0,MIN,right,35.660000,17.350000,1.42,0.35,0.13,320.07,288.59,NaN
193439,2022091101,1077,52496.0,Jordan Elliott,9,2022-09-11 13:50:06.900000,96.0,CLE,left,105.610000,29.160000,4.30,1.24,0.43,340.43,323.17,NaN
224634,2022091101,2478,NaN,football,3,2022-09-11 15:01:39.799999,NaN,football,right,74.889999,23.950001,0.00,0.00,0.00,NaN,NaN,NaN
752686,2022091107,301,38557.0,Kevin Zeitler,12,2022-09-11 13:14:39.900000,70.0,BAL,right,45.800000,25.040000,1.58,0.98,0.17,14.88,32.48,NaN
1062841,2022091110,3050,44949.0,Sean Harlow,14,2022-09-11 18:40:02.299999,64.0,ARI,left,59.820000,23.650000,3.24,1.71,0.32,325.61,23.30,NaN
943751,2022091109,1198,44829.0,Jonathan Allen,45,2022-09-11 13:56:27.700000,93.0,WAS,right,38.400000,43.750000,5.73,2.85,0.60,19.77,33.36,first_contact
315725,2022091102,1928,NaN,football,24,2022-09-11 14:21:59.700000,NaN,football,right,66.849998,18.490000,7.13,2.61,0.71,NaN,NaN,NaN
469732,2022091104,238,39984.0,Darius Slay,12,2022-09-11 13:10:14.599999,2.0,PHI,left,10.040000,40.940000,2.74,1.65,0.28,192.79,196.55,NaN
1192278,2022091112,1613,42381.0,Preston Smith,18,2022-09-11 17:41:59.799999,91.0,GB,left,53.260000,23.860000,0.34,0.09,0.03,328.10,2.60,NaN

### Player Tracking - Week 9

In [32]:
week9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150023 entries, 0 to 1150022
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1150023 non-null  int64
 1   playId         1150023 non-null  int64
 2   nflId          1100022 non-null  float64
 3   displayName    1150023 non-null  object
 4   frameId        1150023 non-null  int64
 5   time           1150023 non-null  object
 6   jerseyNumber   1100022 non-null  float64
 7   club           1150023 non-null  object
 8   playDirection  1150023 non-null  object
 9   x              1150023 non-null  float64
 10  y              1150023 non-null  float64
 11  s              1150023 non-null  float64
 12  a              1150023 non-null  float64
 13  dis            1150023 non-null  float64
 14  o              1100062 non-null  float64
 15  dir            1100062 non-null  float64
 16  event          103799 non-null   object
dtypes: float64(9), int64(3), object(5)
memory usage: 149.2+ MB

In [33]:
week9.sample(10)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
179295,2022110600,3152,54482.0,Zion Johnson,24,2022-11-06 15:28:35.000000,77.0,LAC,right,79.98,27.970000,3.91,2.27,0.40,90.51,9.49,NaN
841051,2022110608,2033,53445.0,Zaven Collins,61,2022-11-06 17:29:03.799999,25.0,ARI,right,82.40,3.900000,0.14,1.20,0.01,65.83,291.67,NaN
157099,2022110600,2449,42486.0,MyCole Pruitt,16,2022-11-06 14:52:22.700000,85.0,ATL,right,100.67,27.560000,3.58,1.21,0.35,74.36,30.22,NaN
240453,2022110601,1646,46671.0,Trent Sherfield,23,2022-11-06 14:12:28.400000,14.0,MIA,right,55.42,17.960000,0.40,3.76,0.02,357.27,2.80,NaN
1117884,2022110700,2612,NaN,football,13,2022-11-07 22:12:16.299999,NaN,football,left,24.57,29.940001,6.13,12.96,0.52,NaN,NaN,NaN
706403,2022110606,3368,46190.0,Taron Johnson,18,2022-11-06 15:57:11.900000,7.0,BUF,right,103.78,16.480000,3.13,6.38,0.28,282.21,161.67,NaN
175598,2022110600,3032,52414.0,Justin Herbert,23,2022-11-06 15:24:30.299999,10.0,LAC,right,59.20,24.700000,4.36,0.86,0.44,200.05,287.78,NaN
213100,2022110601,718,46307.0,Zach Sieler,60,2022-11-06 13:28:45.799999,92.0,MIA,right,79.67,32.900000,0.66,1.66,0.07,154.87,100.38,NaN
717270,2022110607,354,42465.0,Za'Darius Smith,13,2022-11-06 13:14:46.299999,55.0,MIN,left,71.83,17.720000,1.87,2.11,0.17,55.75,49.75,NaN
568691,2022110605,905,54586.0,Jack Jones,37,2022-11-06 13:46:48.599999,13.0,NE,right,47.54,20.990000,5.29,1.03,0.53,9.82,25.91,NaN